.git/
.idea/
.lib/
.DS_Store
GPS_Simulator/project/
GPS_Simulator/target/
GPS_Simulator/src/main/scala/data.csv
Visualizer/project/
Visualizer/target/
/Users/majeedthaika/Documents/OPL/DEVZ/Visualizer/src/main/webapp/bower_components/